/* docs:
  2 breakpoints: 
    - min-width: 680px;
    - min-width: 1024px; */

@import url('../font/battambang/battambang.css');
/* font-family: 'Battambang', sans-serif; */
@import url('../font/Roboto/roboto.css');
/* font-family: 'roboto', sans-serif; */

:root {
  --main-color: #06283D;
  --secondary-color: #116A9C;
  --light-para-color: #8cbfdc8a;
  --heavy-para-color: #8cbfdc;
  --css-color: #97c0db;
  --html-color: #F16529;
  --js-color: #F2BF22;
}

h1, h2, h3 {
  margin: 0px;
  color: white;
}
* {
  margin: 0px;
  padding: 0px;
  font-family: 'roboto', sans-serif;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
p {
  color: white;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
  color: white;
}
body {
  font-family: 'roboto', sans-serif;
  background-color: var(--main-color);
}
.container {
  display: grid;
  display: -webkit-grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  width: 80%;
  margin-inline: auto;
  margin-block-end: 30px;
}
.nav {
  font-weight: 400;
  font-style: italic;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-around;
  gap: 5px;
  grid-area: 1 / 1 / span 1 / span 2;
}
.nav > a {
  transition: 500ms ease-out;
  transition-property: transform;
}
.nav > a:hover {
  transform:translate(25%);
}
.nav > a > li {
  color: rgba(255, 255, 255, 0.832);
}
.nav > a:hover li {
  color: var(--secondary-color);
}
.content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  -webkit-column-gap: 20px;
  row-gap: 50px;
  grid-area: 2 / 1 / span 1 / span 2;
  -webkit-grid-area: 2 / 1 / span 1 / span 2;
}
.pic1 {
  height: 250px;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  grid-area: 1 / 1 / span 1 / span 2;
  -webkit-grid-area: 1 / 1 / span 1 / span 2;
}
.land-pic-wrapper {
  width: 100%;
  height: 95%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: hidden;
}
.land-pic-wrapper:hover .landing-pic{
  transform: scale(1.05);
}
.landing-pic {
  
  background-image: url(../../img/540w_320h_landingPic.png);
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  transition: transform 200ms ease-in;
}
.landing-pic:hover {
  /* background-size: 200%; */
}
.para2 {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  text-align: center;
  gap: 15px;
  grid-area: 2 / 1 / span 1 / span 2;
  -webkit-grid-area: 2 / 1 / span 1 / span 2;
}
.para2 > h2 {
  font-size: 1.8rem;
}
.para2 > p {
  max-width: 250px;
  font-size: 0.95rem;
}
.para2 > p > span {
  background-image: linear-gradient(45deg ,rgba(0, 132, 255, 0.74), rgba(0, 132, 255, 0.74));
  background-size: 0% 1px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 500ms ease;
  color: var(--light-para-color);
}
.para2 > p > span:hover {
  background-size: 100% 1px;
  -webkit-background-size: 100% 1px;
  color: var(--heavy-para-color);
}
.para2 > a {
  display: flex;
  display: -webkit-flex;
  width: min(100px, 30%);
  min-height: 30px;
  background-color: white;
  justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  border-radius: 5px;
  transition: border-radius 500ms ease;
}
.para2 > a:hover {
  background-color: var(--secondary-color);
  border-radius: 0px;
}
.para2 > a:hover p {
  color: white;
}
.para2 > a > p {
  color: var(--secondary-color);
  font-size: 0.8rem;
  font-weight: 600;
}
.btn3 {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  gap: 30px;
  grid-area: 3 / 1 / span 1 / span 2;
  -webkit-grid-area: 3 / 1 / span 1 / span 2;
}
.skillset-wrapper {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}
.skills-wrapper {
  max-width: 100%;
  max-height: 120px;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}
.skills-wrapper > a {
  width: min(30%, 120px);
  height: auto;
  transition: transform 500ms ease-in-out;
}
.skills-wrapper > a:nth-child(1)  {
  transform: translateX(-100px);
}
.skills-wrapper > a:nth-child(2){
  transform: translateY(100px);
}
.skills-wrapper > a:nth-child(3){
  transform: translateX(100px);
}
.skills-wrapper > a > img {
  transition: transform 200ms ease-in-out;
}
.skills-wrapper > a:hover img {
  transform: scale(1.05);
}
.skills-wrapper > a > img {
  max-width: 100%;
  max-height: 100%;
}
.skills-des-wrapper {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  gap: 30px;
}
.des {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  text-align: center;
}
.des > p {
  font-size: 0.95rem;
  max-width: 250px;
}
.des > p > span {
  background-image: linear-gradient(45deg ,#fc0047, rgb(0, 132, 255));
  background-size: 0% 1px;
  -webkit-background-size: 0% 1px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 500ms ease;
}
.des > p > span:hover {
  background-size: 100% 1px;
  -webkit-background-size: 100% 1px;
  
}
.html > p > span {
  color: var(--html-color);
}
.css > p > span {
  color: var(--css-color);
}
.js > p > span {
  color: var(--js-color);
}
.SM-div {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  gap: 10px;
  grid-area: 4 / 1 / span 1 / span 2;
  -webkit-grid-area: 4 / 1 / span 1 / span 2;
}
.SM-wrapper {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}
.SM-wrapper > h3 {
  font-size: 1.8rem;
}
.SM-logo {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  gap: 10px;
}
.SM-logo > a {

}
.SM-div > .SM-logo > a > img {
  width: 2rem;
  height: auto;
  transition: 200ms ease-out;
  transition-property: transform;
}
.SM-div > .SM-logo > a:hover img {
  /* transform: translateX(-.5rem); */
  transform: scale(0.7);
}
.footer {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  background-color: var(--secondary-color);
  height: 40px;
  align-items: center;
  -webkit-align-items: center;
}
.footer > p {
  font-size: 0.8rem;
}

@media (min-width: 680px){
  .container {
    width: 85%;
  }
  .nav {
    flex-direction: row;
    height: 30px;
    margin-bottom: 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  .nav > a {
    transition: none;
    padding: 5px 10px;
  }
  .nav > a:hover {
    color: white;
    transform: none;
  }
  .nav > a:hover li {
    color: white;
  }
  .content {
    
  }
  .pic1 {
    grid-area: 1 / 1 / span 1 / span 1;
    -webkit-grid-area: 1 / 1 / span 1 / span 1;
  }
  .para2 {
    grid-area: 1 / 2 / span 1 / span 1;
    -webkit-grid-area: 1 / 2 / span 1 / span 1;
  }
  .btn3 {
    margin-top: -50px;
  }
}

@media(min-width: 1024px){
  .container {
    width: 90%;
  }
  .content {

  }
  .para2 {
    grid-area: 2 / 1 / span 1 / span 1;
    -webkit-grid-area: 2 / 1 / span 1 / span 1;
  }
  .btn3 {
    margin-top: 0px;
    grid-area: 1 / 2 / span 2 / span 1;
    -webkit-grid-area: 1 / 2 / span 2 / span 2;
  }
  .pic1 > .landing-pic {
    background-size:cover;
    -webkit-background-size: cover;
    background-position-y: 25%;
  }
  .SM-div {
    margin-top: -50px;
  }
}